* {
    padding: 0;
    margin-top: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    color: #403F3D;
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #403F3D;
}

li {
    list-style: none;
    margin: 0;
}

header {
    position: relative;
    z-index: 1;
}

.container {
    padding: 18px 40px;
}

.container-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*BURGER MENU start*/

.burger-menu {
    position: absolute;
    top: 99px;
    left: 0;
    background-color: #E1D4C9;
    padding: 3.75em 2.5em;
    width: 89%;
    height: 804px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    z-index: 10;
    transform: translateX(150%);
    transition: all 0.5s;
}

/*BURGER MENU end*/

.nav-logo {
    margin: 0;
}

nav {
    margin: 0;
    width: 80%;
}

.nav-items-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 1%;
}

.nav-items-list-item-link {
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    align-items: center;
}

.nav-items-list-item-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #403F3D;
    bottom: -5px;
}

.nav-menu {
    margin: 0;
}

.nav-menu-link {
    cursor: default
}

.nav-menu img{
    border-bottom: 3px solid #403F3D;
    cursor: default
}

/* menu section */

.container.menu {
    padding-top: 0;
    padding-bottom: 0;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.menu-title {
    font-size: 60px;
    line-height: 125%;
    margin: 0;
    text-align: center;
    width: 800px;
}

.enjoy-span {
    color: #B0907A;
    font-style: italic;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.menu-tabs-tab {
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 26px;
}

.clicked {
    background-color: #665F55;
}

.clicked .menu-tabs-tab-circle {
    background-color: #E1D4C9;
}

.menu-tabs-tab-circle {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-tabs-tab-circle-icon.coffee {
    width: 16px;
    height: 16px;
    background-image: url(icons/coffee.svg);
}

.menu-tabs-tab-circle-icon.tea {
    width: 16px;
    height: 16px;
    background-image: url(icons/tea.svg);
}

.menu-tabs-tab.clicked:hover {
    cursor: default;
}

.menu-tabs-tab-circle-icon.dessert {
    width: 16px;
    height: 16px;
    background-image: url(icons/dessert.svg);
}

.menu-tabs-tab-text p {
    margin: 0;
    color: #403F3D;
    font-size: 16px;
    line-height: 150%;
}

.clicked .menu-tabs-tab-text p{
    color: #E1D4C9;
}

.menu-collection {
    display: flex;
    gap: 37px;
    justify-content: left;
    flex-wrap: wrap;
}

.menu-collection-item {
    width: 310px;
    height: 506px;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-collection-item.tea {
    display: none;
    transform: translateX(-1000%);
    transition: ease 0.5s;
}

.menu-collection-item.dessert {
    display: none;
}

.menu-collection-item-image {
    border-radius: 40px;
}

.menu-collection-item-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-collection-item-description-title {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
}

.menu-collection-item-description-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    height: 72px;
}

.menu-collection-item-description-cost {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
}

.menu-button {
    display: none;
}

/* footer section */

footer {
    margin-top: 100px;
    margin-bottom: 40px;
}

.container.footer {
    background-color: #665F55;
    border-radius: 40px;
    padding: 0;
    margin: 0 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
    justify-content: center;
}

.footer-column-title {
    margin: 0;
    font-size: 60px;
    line-height: 125%;
    color: #E1D4C9;
}

.footer-column-icons {
    display: flex;
    justify-content: left;
    gap: 12px;
}

.footer-column-icons-icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-social {
    width: 24px;
    height: 24px;
    background-image: url(icons/twitter.svg);
}

.icon-social.second {
    background-image: url(icons/instagram.svg);
}

.icon-social.third {
    background-image: url(icons/facebook.svg);
}

.footer-column-contacts-text {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
    color: #E1D4C9;
    align-items: start
}

.footer-column-contacts-item-text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: #E1D4C9;
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-column-contacts-item {
    display: flex;
    gap: 8px;
    align-items: start;
    padding-bottom: 0.7%;
}

.icon-contact {
    width: 20px;
    height: 20px;
    background-image: url(icons/pin-alt.svg);
}

.icon-contact.second {
    background-image: url(icons/phone.svg);
}

.icon-contact.third {
    background-image: url(icons/clock.svg);
}

.footer-column-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (hover: hover) {

    .nav-items-list-item-link:hover::after {
        width: 100%;
        transition: all 0.3s;
    }

    .nav-items-list-item-link:hover {
        filter: brightness(170%);
        transition: all 0.3s;
    }

    .menu-tabs-tab:hover {
        cursor: pointer;
        background-color: #665F55;
        transition: all 0.5s;
    }

    .menu-tabs-tab:hover .menu-tabs-tab-circle {
        background-color: #E1D4C9;
    }
    
    .menu-tabs-tab:hover .menu-tabs-tab-text p {
        color: #E1D4C9;
    }

    .menu-collection-item:hover {
        cursor: pointer;
        background-color: #B0907A;
        color: #E1D4C9;
        filter: brightness(80%);
        transition: all 0.5s;
    }

    .footer-column-icons-icon:hover {
        cursor: pointer;
        background-color: #C1B6AD;
    } 
    
    .footer-column-icons-icon:hover .icon-social {
        transition: all 0.5s;
        background-image: url(icons/twitter-hover.svg);
    }

    .footer-column-icons-icon:hover .icon-social.second {
        transition: all 0.5s;
        background-image: url(icons/instagram-hover.svg);
    }

    .footer-column-icons-icon:hover .icon-social.third {
        transition: all 0.5s;
        background-image: url(icons/facebook-hover.svg);
    }

    .footer-column-contacts-item-text:hover {
        cursor: pointer;
        filter: brightness(120%);
    }

}

@media screen and (max-width: 1437px) {

    .menu-collection {
        justify-content: space-evenly;
    }

    .menu-collection-item:nth-child(7) {
        display: none;
    }

    .menu-collection-item:nth-child(8) {
        display: none;
    }

    /*.menu-collection-item:nth-child(19) {
        visibility: hidden;
    }

    .menu-collection-item:nth-child(20) {
        visibility: hidden;
    }*/
}

@media screen and (max-width: 1320px) {

    .menu-title {
        width: 680px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

}

@media screen and (max-width: 1095px) {

    .menu-collection-item:nth-child(5) {
        display: none;
    }

    .menu-collection-item:nth-child(6) {
        display: none;
    }

    .menu-collection-item:nth-child(5) {
        display: none;
    }

    .menu-collection-item:nth-child(6) {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    /*BURGER MENU start*/

    .burger-menu.active {
        transform: translateX(0);
        
    }

    .burger-menu-links-list{
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        margin: 0;
    }

    .burger-menu-links-list-item {
        font-size: 32px;
        line-height: 125%;
    }

    .burger-menu-links-menu-link-img {
        width: 138px;
        
    }

    /*BURGER MENU end*/

    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .nav-menu-link {
        display: none;
    }

    .nav-menu-burger {
        width: 44px;
        height: 44px;
        border-radius: 100px;
        border: 1px solid  #665F55;
        position: relative;
    }

    .nav-menu-burger::before {
        content: '';
        position: absolute;
        left: 14px;
        top: 17px;
        width: 16px;
        border-radius: 100px;
        height: 1.5px;
        background-color: #403F3D;
    }

    .nav-menu-burger::after {
        content: '';
        position: absolute;
        left: 14px;
        top: 25px;
        width: 16px;
        border-radius: 100px;
        height: 1.5px;
        background-color: #403F3D;
    }

    .nav-items-list {
        display: none;
    }

    .menu-button {
        display: flex;
        justify-content: center;
    }

    .menu-button span {
        width: 60px;
        height: 60px;
        background-image: url(icons/button-icon-dark.svg);
    }

    .menu-collection {
       gap: 40px;
       margin: 0 12px;
    }

    .footer-columns {
        padding: 100px 60px;
        align-items: start;
    }

}

@media screen and (max-width: 720px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu-title {
        font-size: 32px;
        width: 348px;
    }

    .menu-tabs {
        gap: 8px;
    }

    .container.footer {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer-columns {
        padding: 60px 16px;
    }

    .footer-column {
        width: 316px;
    }

    .footer-column-title {
        font-size: 32px;
        width: 316px;
    }

}

@media screen and (max-width: 520px) {

    .burger-menu {
        padding: 3.75em 1em;
        width: 92%;
        height: 604px;
    }
}

@media screen and (max-width: 380px) {
    footer {
        margin-top: 95px;
    }

    .footer-columns {
        gap: 40px;
        padding-bottom: 63px;
    }

    .footer-column-contacts-item:nth-child(2) {
        margin-bottom: 2px;
    }

}