body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
}

header {
    background: #0C0C0E;
}

header .container {
    display: flex;
    padding: 0 1.25em;
    justify-content: space-between;
    align-items: center;
}

h1 .title {
    font-family: 'Forum', cursive;
    font-size: 1em;
}

h1 .title-link {
    font-weight: 200;
    font-size: 0.9375em;
}

li {
    list-style: none;
}

nav .nav-items {
    display: flex;
    align-items: center;
}

nav  li:not(:first-child):not(:last-child) {
    padding-left: 1.875em
}

nav li:last-child {
    padding-left: 2.5em;
}

a {
    text-decoration: none;
    color: #FFFFFF
}