* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.start-pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.start-pop-up__content {
  background-color: rgb(193, 182, 182);
  width: 500px;
  height: 300px;
  border: 10px solid rgb(103, 103, 102);
  z-index: 101;
  display: block;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.start-pop-up__title {
  margin-bottom: 35px;
}

.start-pop-up__button {
  height: 100px;
  width: 250px;
  background-color: rgb(182, 60, 60);
  border: 10px solid white;
  color: white;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

.start-pop-up.hidden {
  display: none;
}

/* table */

.wrapper {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

table {
  margin-top: 2%;
  width: 740px;
  border: 2px solid black;
  border-collapse: collapse;
}

tr {
  width: 50%;
  height: 50%;
}

td {
  position: relative;
  border: 2px solid black;
  height: 5rem;
  width: 5rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.black {
  background-color: black;
}

.cross {
  position: absolute;
  width: 125%;
  height: 3%;
  background-color: black;
  left: -10.9%;
  top: 49.2%;
  transform: rotate(35deg);
}

.cross::after {
  content: '';
  position: absolute;
  width: 128px;
  height: 2px;
  background-color: black;
  left: -2px;
  top: -1px;
  transform: rotate(-72deg);
}

.check-result-button {
  height: 100px;
  width: 250px;
  background-color: rgb(182, 60, 60);
  border: 10px solid #a9a9a9;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10%;
}

/* end pop-up */

.end-pop-up.hidden {
  display: none;
}

.end-pop-up {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.end-pop-up__content {
  background-color: rgb(193, 182, 182);
  width: 500px;
  height: 300px;
  border: 10px solid rgb(103, 103, 102);
  z-index: 101;
  display: block;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.end-pop-up__title {
  margin-bottom: 35px;
}

.end-pop-up__button {
  height: 100px;
  width: 250px;
  background-color: rgb(182, 60, 60);
  border: 10px solid white;
  color: white;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .check-result-button {
    margin: 0;
  }
}

@media screen and (max-width: 815px) {
  table {
    width: 500px;
  }

  .cross {
    position: absolute;
    width: 103px;
    height: 2px;
    background-color: black;
    left: -16px;
    top: 39px;
    transform: rotate(47deg);
  }
  
  .cross::after {
    content: '';
    position: absolute;
    width: 103px;
    height: 2px;
    background-color: black;
    left: -3px;
    top: 0;
    transform: rotate(-95deg);
  }
}

@media screen and (max-width: 560px) {
  table {
    width: 400px;
  }

  td {
    height: 4rem;
  }

  .cross {
    position: absolute;
    width: 89px;
    height: 2px;
    background-color: black;
    left: -18px;
    top: 30px;
    transform: rotate(49deg);
  }
  
  .cross::after {
    content: '';
    position: absolute;
    width: 89px;
    height: 2px;
    background-color: black;
    left: 0px;
    top: 0;
    transform: rotate(-97deg);
  }
}