*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.not-only {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  color: #f1cdb3;
  text-decoration: none;
  margin-top: 60px;
  text-align: center;
}

.logo-title {
  margin: 0;
}

p.logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  color: #fff;
  width: 179px;
  margin: 10px 0;
}

nav {
  margin-top: 76px;
}

.nav-burger {
  display: none;
}
ul {
  display: flex;
  margin-right: 40px;
}

li {
  list-style: none;
}
li + li {
  margin-left: 35px;
}

.menu-link {
  color: #cdcdcd;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
}

#active-menu-link {
  color: #fafafa;
  border-bottom: 2px solid #f1cdb3;
}

.menu-link:active {
  border-bottom: 2px solid #f1cdb3;
}

.menu-link:hover {
  color: #fafafa;
}

.puppy-inner {
  display: flex;
  justify-content: space-between;
}

.img-column {
  margin-top: 60px;
}

.text-column {
  margin: 163px 42px 243px 0;
}

.puppy-title {
  font-family: Georgia;
  font-size: 44px;
  color: #fff;
  font-weight: 400;
  width: 310px;
  margin-bottom: 42px;
}
.puppy-img {
  position: relative;
  top: 5px;
  width: 698px;
}
.puppy-description {
  font-family: Arial;
  font-size: 15px;
  color: #cdcdcd;
  font-weight: 400;
  width: 460px;
  margin-bottom: 42px;
}

.puppy-btn {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border: 1px solid #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  filter: brightness(80%);
  cursor: pointer;
}

.puppy-btn:hover {
  filter: brightness(101%);
}

.about {
  padding: 80px 40px 100px;
}

.about-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 40px;
}

.about-img {
  margin-left: 50px;
}

.about-text-column {
  width: 430px;
  margin-left: 120px;
}

.about-title {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  width: 370px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  margin-bottom: 25px;
}

.about-discription {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  color: #4c4c4c;
  width: 430px;
  text-align: left;
  margin-bottom: 25px;
  line-height: 24px;
}

.about-discription2 {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  color: #4c4c4c;
  width: 430px;
  text-align: left;
  line-height: 24px;

}

.friends {
  background: #f6f6f6;
}

.friends-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.friends-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  color: #545454;
  text-align: center;
  margin: 80px 0 60px;
}

.friends-slider-item {
  width: 270px;
  height: 435px;
  background: #fff;
  margin-left: 45px;
  margin-right: 45px;
  cursor: pointer;
  text-align: center;
  border-radius: 9px;
}

.friends-slider-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.friends-slider {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.friends-slider-arrow-left,
.friends-slider-arrow-right {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.friends-slider-arrow-left:hover,
.friends-slider-arrow-right:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.friends-slider-img {
  max-width: 270px;
  height: 270px;
  border-radius: 9px;
}

.friends-slider-name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  color: #545454;
  margin: 30px auto;
}

.friends-slider-btn {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  color: #292929;
  width: 187px;
  height: 52px;
  background: #fff;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.friends-slider-btn:hover {
  background: #f1cdb3;
}

.friends-btn {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  color: #292929;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin: 79px auto 100px;
  cursor: pointer;
}

.friends-btn:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.donate {
  margin: 0;
  padding-bottom: 90px;
}

#donate-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.donate-title {
  width: 308px;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  color: #545454;
  margin: 80px auto 60px auto;
}

.donate-lines {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  margin: 0 82px;
  justify-content: space-between;
}

.donate-item-2 {
  text-align: center;
}

#donate-first-item-2 {
  margin-left: 84px;
}

.donate-item-2:last-child {
  margin-right: 84px;
}

.donate-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate-icon {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}

.donate-subtext {
  color: #545454;
}

/**.donate-item-1 {
  width: 89px;
  margin: 0;
  padding: 0;
}**/
/**.donate-item-1 {
  width: 170px;
  height: 113px;
}

.donate-item-2 {
  width: 170px;
  height: 113px;
}**/


.donate-subtext {
  padding: 0 10px;
}

.donate-second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 55px;
}

.donate-card {
  background: #f6f6f6;
  padding: 80px 182px 100px;
}

#donate-card-container {
  display: flex;
}

.donate-card-info {
  width: 380px;
  margin: 0;
}

.donate-card-img {
  width: 505px;
  margin-right: 30px;
}

.donate-card-title {
  font-weight: 400;
  font-size: 35px;
  color: #545454;
  line-height: 45.5px;
  width: 250px;
  margin-bottom: 20px;
}

.donate-card-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  color: #545454;
  margin-bottom: 20px;
}

.donate-card-number {
  background-color: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  display: flex;
  width: 349px;
  margin-bottom: 20px;
}

.donate-card-icon {
  width: 30px;
  height: 23px;
}

.donate-card-link {
  display: flex;
}

.donate-card-numbers {
  color: #545454;
  width: 274px;
  height: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  padding-left: 15px;
}

.donate-card-discription {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

footer {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  display: block;
  height: 355px;
  margin: 0;
  padding: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0px;
}

.footer-column-questions,
.footer-column-visit {
  max-width: 280px;
  display: block;
}

.footer-column-questions {
  margin-right: 160px;
}

.footer-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 40px;
}

.footer-email,
.footer-phone {
  width: 251px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer-email {
  height: 41px;
}

.footer-addres-boston,
.footer-addres-london {
  display: flex;
  align-items: center;
  width: 302px;
  margin-bottom: 40px;
}

.footer-email-text,
.footer-phone-number,
.footer-addres {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  margin-left: 20px;
}

.footer-phone {
  display: flex;
  align-items: center;
  width: 251px;
}

.footer-column-image {
  margin-left: 120px;
}

@media (max-width: 1280px) {
  #woody {
    display: none;
  }
  .puppy-inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1240px) {
  #donate-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1230px) {
  #donate-first-item-2 {
    margin: 0;
  }
  .donate-item-2:last-child {
    margin: 0;
  }

  .donate-item-1 {
    width: 170px;
    height: 113px;
  }

  .donate-item-2 {
    width: 170px;
    height: 113px;
  }
}

@media (max-width: 1000px) {
  .donate-lines {
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 39px;
  }

  .puppy-img {
    width: 569px;
    height: 593px;
  }
}

@media (max-width: 1160px) {
  .donate-first-line {
    flex-wrap: wrap;
  }

  .donate-second-line {
    flex-wrap: wrap;
  }

  #donate-card-container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .donate-card-info {
    margin-bottom: 60px;
  }

  footer {
    height: 100%;
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 30px 0;
  }

  .footer-column-image {
    margin: 0;
    margin-top: 65px;
  }

  .footer-column-questions {
    margin-right: 60px;
  }
}

@media (max-width: 1130px) {
  .puppy-img {
    margin-left: 129px;
  }

  .container {
    max-width: 1130px;
  }
  .text-column {
    margin: 60px auto 100px;
  }
  .puppy-button {
    text-align: center;
  }
}

@media (max-width: 910px) {
  .friends-slider-item {
    margin: 0 0.5em;
  }
  .about-inner {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .about-text-column {
    padding-bottom: 80px;
    margin: 0 auto;
  }
}

@media (max-width: 810px) {
  .logo {
    margin-right: 65px;
  }
  .container {
    padding: 0 30px;
  }
  .menu {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .img-column {
    margin-top: 0;
  }
  .puppy-img {
    width: 260px;
    height: 271.77px;
    margin-left: 0;
    margin-top: 0;
  }
  .donate-lines {
    flex-wrap: wrap;
    justify-content: center;
  }

  .donate-second-line {
    margin: 0;
  }

  #timmy {
    display: none;
  }
  .friends-slider-item {
    margin: 0 auto;
  }
}

@media (max-width: 680px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .footer-column-questions {
    margin: 0 0 40px;
  }

  .footer-column-questions:first-child {
    margin-top: 36px;
  }

  .footer-addres-london {
    margin: 0;
  }
  .footer-title {
    font-size: 25px;
    text-align: center;
    width: 230px;
    margin: 0 auto 40px;
  }
  .footer-column-img {
    width: 260px;
  }
}

@media (max-width: 625px) {
  header {
    padding: 0 10px;
  }
  nav {
    display: none;
  }

  .nav-burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
    margin-top: 49px;
  }

  .nav-burger span {
    height: 2px;
    width: 100%;
    background-color: #f1cdb3;
  }

  .nav-burger::before,
  .nav-burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #f1cdb3;
  }

  .nav-burger::before {
    top: 0;
  }

  .nav-burger::after {
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
  .text-column {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .puppy-title {
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 42px;
    width: 200px;
  }

  .puppy-description {
    width: 300px;
  }

  .about {
    padding: 0;
  }

  .about-inner {
    padding: 0;
  }

  .about-text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 42px;
    width: 100%;
  }

  .about-title {
    margin: 42px 0 25px;
    text-align: center;
    font-size: 25px;
    width: 250px;
  }

  .about-discription {
    width: 270px;
    word-wrap: break-word;
    margin-bottom: 25px;
    text-align: justify;
  }

  .about-discription2 {
    width: 270px;
    word-wrap: break-word;
    margin: 0;
    text-align: justify;
  }
  .about-img {
    margin-left: 0;
    width: 260px;
    margin-bottom: 42.4px;
  }

  .donate-card {
    padding: 0;
  }
  .donate-card-info {
    text-align: center;
  }

  .donate-card-title {
    margin: 42px auto 20px;
  }
  .donate-card-number {
    width: 241px;
    margin: 0 auto 20px;
  }

  .donate-card-numbers {
    padding-top: 2.5px;
    width: 100%;
    font-size: 15px;
  }

  .donate-card-discription {
    text-align: justify;
    width: 280px;
  }
  .donate-card-img {
    width: 260px;
    margin-right: 0;
    margin-bottom: 42px;
  }
}

@media (max-width: 500px) {
  .donate {
    padding: 0;
  }
  .donate-lines {
    margin: 0;
    gap: 30px;
    margin-bottom: 42px;
    justify-content: flex-start;
  }

  .donate-title {
    margin: 42px auto;
    font-size: 25px;
    width: 200px;
  }
  .donate-item-1 {
    width: 130px;
  }

  .donate-item-2 {
    width: 130px;
  }
}

@media (max-width: 420px) {
  .friends-title {
    font-size: 25px;
  }

  .friends-slider {
    display: flex;
    flex-wrap: wrap;
  }
  .friends-slider-item {
    order: -1;
    margin: 0 40px 20px;
  }
  .friends-btn {
    margin: 42px 0;
  }
}
