* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

body {
    text-align: center;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 60px 0;
}

.search-box {
    position: sticky;
    top: 0;
    padding: 20px;
    margin-bottom: 60px;
    z-index: 100;
}

.input {
    position: relative;
    width: 60%;
    font-size: 18px;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    
}

.input-close {
    position: absolute;
    content: '';
    top: 30px;
    right: 610px;
    height: 45px;
    width: 45px;
    background-image: url(icons/close_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.button {
    padding: 10px 20px;
    background-color: #bbbbbb96;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.gallery-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    width: 30%;
    height: 214px;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}

.gallery-item-image {
    width: 380px;
    height: 214px;
}

.gallery-item:hover {
    opacity: 0.8;
}

.show_more {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #bbbbbb96;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    margin: 30px auto;
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #bbbbbb96;
}

.contacts {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.year {
    font-weight: bold;
}

.github {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.school-icon {
    width: 50px;
}

@media  screen and (max-width: 1220px) {
    .gallery-wrapper {
        justify-content: space-around;
    }
}

@media  screen and (max-width: 768px) {
    .gallery-item {
        width: 45%;
    }
}

@media  screen and (max-width: 650px) {
    .gallery-item {
        width: 100%;
    }
}